BOT_DASHBOARD_HOST=127.0.0.1
BOT_DASHBOARD_PORT=8000

COINDCX_API_KEY=your_api_key_here
COINDCX_API_SECRET=your_api_secret_here

DEFAULT_PAIR=B-ETH_USDT
DEFAULT_MARKET=ETHUSDT
DEFAULT_MODE=futures
DEFAULT_STRATEGY=confluence
DEFAULT_RISK=10
DEFAULT_LOOKBACK_DAYS=3
LIVE_QUOTE_INTERVAL=1
